@model BaseStudentApp.Models.Ispit

@{
    ViewBag.Title = "Brisanje ispita";
}

<h2>Brisanje ispita</h2>

<h3>Potvrdite brisanje</h3>
<div>
    <h4>Ispit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BiSt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiSt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predmet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predmet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocena)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisi" class="btn btn-default" />  
        </div>
    }
</div>
