@model BaseStudentApp.Models.Ispit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ispit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BiSt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiSt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predmet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predmet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.Id })  
</p>
