@model BaseStudentApp.Models.Student

<h3>Da li zelite da obrisete podatke?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BiStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sLastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisi" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "getStudent")
        </div>
    }
</div>
