@model IEnumerable<BaseStudentApp.Models.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    Lista studenata
</p>
<table id="tableData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BiStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sLastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BiStudent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sLastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.ActionLink("Izmeni podatke", "UpdateStudentDetails", new { id = item.IdStudent }) |

                    @Html.ActionLink("Obrisi", "Delete", new { id = item.IdStudent }) |
                </td>
            </tr>
        }
    </tbody>
</table>

<style type="text/css">
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    .paging-nav, #tableData {
        width: 600px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
    }

    #tableData {
        margin-top: 100px;
        border-spacing: 0;
        border: 1px dotted #ccc;
    }

        #tableData th {
            background: #e5f0fb;
            text-align: left;
            border-bottom: 2px solid #91b9e6;
        }

        #tableData td {
            padding: 3px 10px;
            border-bottom: 1px dotted #ccd;
        }
</style>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="~/Scripts/pagging.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tableData').paging({ limit: 3 });
        });
    </script>
}