@using BaseStudentApp;
@model dynamic

@{
    ViewBag.Title = "Vidi sve tabele";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<table>
    <tr>
        <th>Id</th>
        <th>Index studenta</th>
        <th>Predmet</th>
        <th>Ocena</th>
    </tr>
    @*@foreach (Ispit ispit in Model.Ispit)
    {
        <tr>
            <td>@ispit.Id</td>
            <td>@ispit.BiSt</td>
            <td>@ispit.Predmet</td>
            <td>@ispit.Ocena</td>
        </tr>
    }*@
</table>

<p><b>Student List</b></p>

<table>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
        <th>Enrollment No</th>
    </tr>
    @*@foreach (StudentModel student in Model.Students)
    {
        <tr>
            <td>@student.IdStudent</td>
            <td>@student.BiStudent</td>
            <td>@student.sName</td>
            <td>@student.sLastname</td>
        </tr>
    }*@
</table>  