@model IEnumerable<BaseStudentApp.Models.StudentIspitModel>

@{
    ViewBag.Title = "Podaci";
}

<h2>Podaci</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{
    foreach (var student in Model.GroupBy(s => s.BiStudent).Select(s => s))
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdStudent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BiStudent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sLastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BiSt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Predmet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ocena)
                </th>
                <th></th>
            </tr>
        }
            @foreach (var ispit in @student)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ispit.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ispit.BiSt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ispit.Predmet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ispit.Ocena)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit") |
                        @Html.ActionLink("Details", "Details") |
                        @Html.ActionLink("Delete", "Delete")
                    </td>
                </tr>
            }
            
            </table>
        }
    }
            